
<html>
    <head>
        <link href="/static/css/calls.css" rel="stylesheet">
        <link rel="icon" type="image/gif" href="/static/img/usf-logo-scaled.png" />
        <title>NSC Unites | Bingo</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    </head>
    <script>
    function call_number(sender, nbr)
    {
        var called = document.getElementById('Calls').innerText;
        var res = called.split(" ");

        if( sender.classList.contains("button-selected") ){
            sender.classList.add('button');
            sender.classList.remove('button-selected');
            
            jqry = '/'.concat(nbr);
            jqry = jqry.concat('/-/add_call.json')
            var jsonData = $.ajax({
                url: jqry,
                dataType: 'json',
                }).done(function (results) {
                    alert(results)
                });

            for( value in res ){
                if(res[value]==nbr){ 
                    res.splice( value, 1);
                }
            }
        } else {
            sender.classList.add('button-selected');
            sender.classList.remove('button');
            
            jqry = '/'.concat(nbr);
            jqry = jqry.concat('/+/add_call.json')
            var jsonData = $.ajax({
                url: jqry,
                dataType: 'json',
                }).done(function (results) {
                    alert(results);
                });

            res.push(nbr);    
        }

        called = "";
        for( value in res){
            called = called.concat(res[value]);
            called = called.concat("  ");
        }
        document.getElementById('Calls').innerText = called;
    }

    function update_pattern(sender, pattern)
    {
        if( sender.classList.contains("button-selected") ){
            sender.classList.add('button');
            sender.classList.remove('button-selected');
        } else {
            sender.classList.add('button-selected');
            sender.classList.remove('button');
        }
    }

    // range variable
    var range = function(start, end) {
                        var range = [];
                        var n = start;
                        while (n < end ) {
                            range.push(n)
                            n=n+1;
                        }
                        return range;
                    }

    function reset_calls() {
        var jsonData = $.ajax({
            url: '/reset_calls.json',
            dataType: 'json',
            }).done(function (results) {
                if (results.reset == 'successful') {
                    document.getElementById('Calls').innerText = "";
                    // reset buttons
                    
                    numbers = range(1,76);
                    for (x in numbers) {
                        var call_btn = document.getElementById('btn'.concat(numbers[x]));
                        if( call_btn.classList.contains("button-selected") ){
                            call_btn.classList.add('button');
                            call_btn.classList.remove('button-selected');
                        }
                    }
                    // update game number
                    var game_nbr = document.getElementById('game_nbr');
                    var n = parseInt(game_nbr.innerText);
                    n = n+1;
                    game_nbr.innerText = n;
                }
            });
    }

    function save_pattern() {
        win_chk = [];
        for (r in range(0,5)) {
            row_chk = [];
            for (i in range(0,5)) {
                loc_id = r.toString()+i.toString();
                var loc = document.getElementById(loc_id);
                if (loc.classList.contains("button-selected")) {
                    row_chk.push(1);
                } else {
                    row_chk.push(0);
                }
            }
            win_chk[r] = (row_chk);
        }
        alert(win_chk);
        /*--var patten_input = document.getElementById('new_pattern');
        patten_input.value = win_chk;
        document.getElementById('add_pattern').submit();--*/
        $.ajax({
            type: "POST",
            url: "/add_pattern",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(win_chk),
            success: function(response) {
                console.log(response);
            }
        });
    }

    function clear_all_pattern() {
        $.ajax({
            url: "/clear_patterns",
            success: function(response) {
                console.log(response);
            }
        });
    }
    setInterval(function() {
        /*-- Get Called Bingos --*/
        /*--var jsonData = $.ajax({
            url: '/calls.json',
            dataType: 'json',
            }).done(function (results) {

            });--*/
        }

        , 1 * 1000); // 1 * 1000 milsec

    </script>
    <body>
        <div class="container">
            <!--Heading-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="media-middle">
                        <h2>NSC Unites:  Bingo Calls</h2>
                    </div> 
                </div>
            </div>

            <div>Numbers:</div>
            <div id="Calls"></div>
        
            <!--Table for Calls-->
            <div class="row">
                <div class="col-sm-6">

                    <table>
                        <tbody>
                            
                            <tr>
                                <td>B</td>
                                {% for x in range(1,16) %}
                                <td>
                                    <button class="button" id="btn{{x}}" onclick="call_number(this, '{{x}}')">{{x}}</button>
                                </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>I</td>
                                {% for x in range(16,31) %}
                                <td><button class="button" id="btn{{x}}" onclick="call_number(this, '{{x}}')">{{x}}</button></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>N</td>
                                {% for x in range(31,46) %}
                                <td><button class="button" id="btn{{x}}" onclick="call_number(this, '{{x}}')">{{x}}</button></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>G</td>
                                {% for x in range(46,61) %}
                                <td><button class="button" id="btn{{x}}" onclick="call_number(this, '{{x}}')">{{x}}</button></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>O</td>
                                {% for x in range(61,76) %}
                                <td><button class="button" id="btn{{x}}" onclick="call_number(this, '{{x}}')">{{x}}</button></td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Table to Game Controls-->
            <div class="row">
                <div class="col-md-6">
                    <!--Split Columns 0-->
                        <div class="col-md-2">
                            <h3>Game Controls</h3>
                        </div>
                        <div class="col-md-2">
                            Game Number:
                        </div>
                        <div class="col-md-2" id="game_nbr">
                            1
                        </div>
                        <div class="col-md-2">
                            <button class="button" onclick="reset_calls()">New Game</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <form action="/add_pattern" id='add_pattern' method="POST" >
                        <input type="hidden" name='pattern' id='new_pattern'/>
                    </form>

                    <!--Split Columns 1-->
                    <div class="col-md-6">
                        <h3>Add Patterns</h3>
                        <div>
                            <table>
                                <thead>
                                    <td><h4>B</h4></td>
                                    <td><h4>I</h4></td>
                                    <td><h4>N</h4></td>
                                    <td><h4>G</h4></td>
                                    <td><h4>O</h4></td>
                                </thead>
                                {% for r in range(0,5) %}
                                    <tr>
                                        {% for i in range(0,5) %}
                                            <td>
                                                <button class="button" id="{{r}}{{i}}" onclick="update_pattern(this, '{{r}}{{i}}')"></button>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div>
                            <button class="button" onclick="save_pattern()">Save Pattern</button>
                        </div>
                    </div>
                    <div class="row"></div>
                    <span></span>
                    <div class="row">

                        <span>Clear All Patterns removes all winning possibilities.  Use New Game to add default patterns back.</span>
                        <div>
                            <button class="button" onclick="clear_all_pattern()">Clear All Patterns</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>

</html>