
<html>
    <head>
        <link href="/static/css/calls.css" rel="stylesheet">
        <link rel="icon" type="image/gif" href="/static/img/usf-logo-scaled.png" />
        <title>NSC Unites | Bingo</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    </head>
    <script>
    function call_number(sender, nbr)
    {
        var called = document.getElementById('Calls').innerText;
        var res = called.split(" ");

        if( sender.classList.contains("button-selected") ){
            sender.classList.add('button');
            sender.classList.remove('button-selected');
            
            jqry = '/'.concat(nbr);
            jqry = jqry.concat('/-/add_call.json')
            var jsonData = $.ajax({
                url: jqry,
                dataType: 'json',
                }).done(function (results) {
                    alert(results)
                });

            for( value in res ){
                if(res[value]==nbr){ 
                    res.splice( value, 1);
                }
            }
        } else {
            sender.classList.add('button-selected');
            sender.classList.remove('button');
            
            jqry = '/'.concat(nbr);
            jqry = jqry.concat('/+/add_call.json')
            var jsonData = $.ajax({
                url: jqry,
                dataType: 'json',
                }).done(function (results) {
                    alert(results);
                });

            res.push(nbr);    
        }

        called = "";
        for( value in res){
            called = called.concat(res[value]);
            called = called.concat("  ");
        }
        document.getElementById('Calls').innerText = called;
    }

    function update_pattern(sender, pattern)
    {
        if( sender.classList.contains("button-selected") ){
            sender.classList.add('button');
            sender.classList.remove('button-selected');
        } else {
            sender.classList.add('button-selected');
            sender.classList.remove('button');
        }
    }
    </script>
    <body>
        <div class="container">
            <!--Heading-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="media-middle">
                        <h2>NSC Unites:  Bingo Calls</h2>
                    </div> 
                </div>
            </div>

            <div>Numbers:</div>
            <div id="Calls"></div>
        
            <!--Table for Calls-->
            <div class="row">
                <div class="col-sm-6">

                    <table>
                        <tbody>
                            
                            <tr>
                                <td>B</td>
                                {% for x in range(1,16) %}
                                <td>
                                    <button class="button" onclick="call_number(this, '{{x}}')">{{x}}</button>
                                </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>I</td>
                                {% for x in range(16,31) %}
                                <td><button class="button" onclick="call_number(this, '{{x}}')">{{x}}</button></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>N</td>
                                {% for x in range(31,46) %}
                                <td><button class="button" onclick="call_number(this, '{{x}}')">{{x}}</button></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>G</td>
                                {% for x in range(46,61) %}
                                <td><button class="button" onclick="call_number(this, '{{x}}')">{{x}}</button></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>O</td>
                                {% for x in range(61,76) %}
                                <td><button class="button" onclick="call_number(this, '{{x}}')">{{x}}</button></td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Table to Game Controls-->
            <div class="row">
                <div class="col-md-6">
                    <!--Split Columns 0-->
                        <div class="col-md-2">
                            <h3>Game Controls</h3>
                        </div>
                        <div class="col-md-2">
                            Game Number:
                        </div>
                        <div class="col-md-2" id="game_nbr">
                            1
                        </div>
                        <div class="col-md-2">
                            <button class="button" onclick="">New Game</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!--Split Columns 1-->
                    <div class="col-md-6">
                        <h3>Add Patterns</h3>
                        <div>
                            <table>
                                <thead>
                                    <td><h4>B</h4></td>
                                    <td><h4>I</h4></td>
                                    <td><h4>N</h4></td>
                                    <td><h4>G</h4></td>
                                    <td><h4>O</h4></td>
                                </thead>
                                {% for r in range(0,5) %}
                                    <tr>
                                        {% for i in range(0,5) %}
                                            <td>
                                                <button class="button" id="{{r}}{{i}}" onclick="update_pattern(this, '{{r}}{{i}}')"></button>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div>
                            <button class="button" onclick="">Save Pattern</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>

</html>