<html>
    <head>
        <link href="/static/css/calls.css" rel="stylesheet">
        <link rel="icon" type="image/gif" href="/static/img/usf-logo-scaled.png" />
        <title>NSC Unites | Bingo</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>
    <script>
        setInterval(function() {
            /// code here
        }, 1 * 1000); // 1 * 1000 milsec

        function update_nickname(sender) {
            var new_name = document.getElementById('playerName').value
            var key = document.getElementById('temp_key').value
            if (new_name=="") {
                document.getElementById('name_error').innerText = "Must Enter Nickname to Update.";    
            } else {
                jqry='/'.concat(key)
                jqry=jqry.concat('/')
                jqry=jqry.concat(new_name)
                jqry=jqry.concat('/update_nickname.json')

                var jsonData = $.ajax({
                    url: jqry,
                    dataType: 'json',
                    }).done(function (results) {
                        if (results.response=='successful') {
                            sender.classList.add('btn-success');
                            sender.classList.remove('btn-info');
                            document.getElementById('name_error').innerText = "";    
                        } else {
                            sender.classList.add('btn-danger');
                            sender.classList.remove('btn-info');
                            document.getElementById('name_error').innerText = "Could not save Name.";    
                        }
                    })    
            }                  
        }

        function add_card_code(sender) {
            var new_code = document.getElementById('cardCode').value
            var key = document.getElementById('temp_key').value
            if (new_code=="") {
                document.getElementById('code_error').innerText = "Must Enter Code.";    
            } else {
                jqry='/'.concat(key)
                jqry=jqry.concat('/')
                jqry=jqry.concat(new_code)
                jqry=jqry.concat('/add_card_code.json')

                var jsonData = $.ajax({
                    url: jqry,
                    dataType: 'json',
                    }).done(function (results) {
                        if (results.response=='successful') {
                            sender.classList.add('btn-success');
                            sender.classList.remove('btn-info');
                            document.getElementById('code_error').innerText = "";

                            var table_cards = document.getElementById('tblCards');
                            row = table_cards.insertRow(table_cards.rows.length);
                            row.insertCell(0).innerHTML = '<input type="checkbox"/>';
                            row.insertCell(1).innerText = new_code;
                            row.insertCell(2).innerText = results.card_count;
                            row.insertCell(3).innerText = 'Available';
                        } else {
                            sender.classList.add('btn-danger');
                            sender.classList.remove('btn-info');
                            document.getElementById('code_error').innerText = results.response;    
                        }
                    })    
            }                  
        }
    </script>

    <body>
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-sm-2 logo">
                    <img src="/static/img/USF_LOGO.jpg" margin="100" height="150" width="140"/>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-6 logo">
                    <div class="media-middle">
                        <h1>NSC Unites</h1>
                        <h3>Bingo</h3>
                        <h2>Spring Into Service</h2>
                    </div> 
                </div>
            </div>

            <h4>Welcome Player</h4>
            <div class="row"><hr></div>
            <!-- Player Settings-->
            <h4>Player Options:</h4>
            <div class="row">
                <form action="/update_nickname" method='POST' id='player'>
                    <input type="hidden" id='temp_key' value='{{temp_key}}'/>
                    <input type="hidden" value='{{player_cards}}'/>
                </form >
                
                <div class="col-sm-2 center"></div>
                <div class="col-sm-2 center">
                    <h5>Player Name:</h5> 
                </div>
                <div class="col-sm-4 center">
                    <input type="text" id="playerName" value='{{player_name}}'/>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <a class="btn btn-info" id="Save" onclick="update_nickname(this)">Save</a>
                </div>
                <div id='name_error'></div>
            </div>
            <div class="row"><hr></div>
            <!-- Add Cards -->
            <h4>Add Cards</h4>
            <div class="row">
                <div class="col-sm-2 center"></div>
                <div class="col-sm-2 center">
                    <h5>Card Code:</h5> 
                </div>
                <div class="col-sm-4 center">
                    <input type="text" id="cardCode"/>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <a class="btn btn-primary" onclick="add_card_code(this)">Add Card</a>
                </div>
                <div id='code_error'></div>
            </div>
            <div class="row"><hr></div>

            <!-- Player Cards -->
            <h4>Your Bingo Cards</h4>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    Only 4 Cards per Game
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-primary" href="/play">Play Game With Selected Cards.</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <table class="table" id="tblCards">
                        <thead>
                            <td>Select</td>
                            <td>Code</td>
                            <td>Card Number</td>
                            <td>Status</td>
                        </thead>
                        {% for player_card in player_cards %}
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>{{player_card.card_code}}</td>
                            <td>{{player_card.nbr}}</td>
                            <td>{% if player_card.used == True %} Available {% else %} Used {% endif %}</td>                        
                        </tr>
                        {% endfor %}                        
                    </table>
                </div>
            </div>
        </div>
    </body>
    <footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
        <span>Copyright © US Foods 2019</span>
        </div>
    </div>
    </footer>
</html>